In [1]:
import pandas as pd
from geopy.distance import geodesic
import llama_cpp
import geopandas
from shapely.geometry import Point
import os

In [2]:
df_data=pd.read_csv("../datasets/data.csv")
df_dummy_janes=pd.read_csv("../datasets/dummy_janes_POI.csv")

eez_indian_boundaries_path="../datasets/india_eez.json"
india_eez_gdf = geopandas.read_file(eez_indian_boundaries_path)
eez_geometry=india_eez_gdf.unary_union

C:\Users\caio\AppData\Local\Temp\ipykernel_10616\2228687344.py:6: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  eez_geometry=india_eez_gdf.unary_union

In [3]:
df_dummy_janes['location']=list(zip(df_dummy_janes['latitude'], df_dummy_janes['longitude']))
df_data['location']=list(zip(df_data['latitude'], df_data['longitude']))

In [4]:
def distance_between_locations(target_location, POI_location):
    '''
    Calculates distance between two given locations, likely between target be observed, and points of military interest
    input: latitude, longitude of target, and latitude, longitude of POI
    output: distance
    '''
    distance=geodesic(target_location, POI_location).kilometers
    return distance

In [5]:
def find_closest_poi(target_location):
    '''
    Compares distance between target and locations available in JANES database, and returns closest target
    input: latitude, longitude of target
    output: closest point of military interest
    '''
    array_distances=[]
    
    for index, row in df_dummy_janes.iterrows():
        poi_location=row['location']
        poi_name=row['location_name']

        dist=distance_between_locations(target_location, poi_location)
        array_distances.append([dist, poi_name])

    min_distance=float('inf')
    closest_poi=None
    for dist, name in array_distances:
        if dist<min_distance:
            min_distance=dist
            closest_poi=name

    return closest_poi

In [6]:
df_data['closest_point_of_mil_interest']=df_data['location'].apply(find_closest_poi)

In [7]:
def is_location_in_indian_waters(target_location):
    string_true="Inside Indian Waters"
    string_false="Outside Indian Waters"

    location_point=Point(target_location[1], target_location[0])
    if eez_geometry.contains(location_point):
        return string_true
    else:
        return string_false

In [8]:
df_data['location_wrt_naval_borders']=df_data['location'].apply(is_location_in_indian_waters)

In [9]:
print(df_data.columns, "\n")
print(df_dummy_janes.columns)

Index(['id', 'name', 'latitude', 'longitude', 'range', 'bearing', 'course',
       'speed', 'altitude', 'depth', 'reported_by', 'comment', 'hostility',
       'category', 'nationality', 'location_wrt_naval_borders',
       'closest_point_of_mil_interest', 'time', 'location'],
      dtype='object')

Index(['latitude', 'longitude', 'location_name', 'location_country',
       'location'],
      dtype='object')

In [10]:
print(df_dummy_janes)
print(df_data)

     latitude  longitude                             location_name  \
0   18.939300  72.844500                                    mumbai
1   19.005600  72.816300       jawaharlal nehru port (nhava sheva)
2   17.685600  83.216000                             visakhapatnam
3   15.411207  73.799978                            mormugao (goa)
4   13.081500  80.292100                                   chennai
5   21.733300  87.447800                                   paradip
6   22.546100  88.314900          kolkata (syama prasad mookerjee)
7    9.967800  76.280100                            kochi (cochin)
8   12.967400  74.806600                  new mangalore (panambur)
9    8.766700  78.133300             tuticorin (v.o.chidambaranar)
10  13.191100  80.292100                        ennore (kamarajar)
11  11.623900  92.730300                                port blair
12  24.835600  66.981400                              karachi port
13  24.785000  67.054000                                port qasim
14  25.124300  62.322200                               gwadar port
15  22.338000  91.791700                   chittagong (chattogram)
16  22.555100  89.680000                                    mongla
17   6.951400  79.847800                              colombo port
18   6.128300  81.102300                           hambantota port
19   8.583700  81.233000                          trincomalee port
20   6.204800  73.514000                           male (maldives)
21   1.283300  36.816700  mtwapa/ malindi? no focus Kenya not IOR?
22  24.633300  54.366700                     port khalid (sharjah)
23  25.065700  55.171300                         jebel ali (dubai)
24  15.354700  39.857900                                 aden port
25  18.160100  41.137100                               al qunfotha
26  -6.816900  39.283300                             dar es salaam
27  -5.066700  39.100000                                    mtwara
28  -6.163000  39.197000                                     tanga
29  -6.163900  39.202000                                  zanzibar
30 -26.133000  28.050000                                    durban
31 -25.625900  32.554600                            port of maputo
32 -18.150000  49.400000                    toamasina (madagascar)
33 -25.016700  46.950000                   fort dauphin (tamatave)
34 -23.350000  43.666700                          toliara (tulear)

   location_country                location
0             India      (18.9393, 72.8445)
1             India      (19.0056, 72.8163)
2             India       (17.6856, 83.216)
3             India  (15.411207, 73.799978)
4             India      (13.0815, 80.2921)
5             India      (21.7333, 87.4478)
6             India      (22.5461, 88.3149)
7             India       (9.9678, 76.2801)
8             India      (12.9674, 74.8066)
9             India       (8.7667, 78.1333)
10            India      (13.1911, 80.2921)
11            India      (11.6239, 92.7303)
12         Pakistan      (24.8356, 66.9814)
13         Pakistan        (24.785, 67.054)
14         Pakistan      (25.1243, 62.3222)
15       Bangladesh       (22.338, 91.7917)
16       Bangladesh        (22.5551, 89.68)
17        Sri Lanka       (6.9514, 79.8478)
18        Sri Lanka       (6.1283, 81.1023)
19        Sri Lanka        (8.5837, 81.233)
20         Maldives        (6.2048, 73.514)
21              NaN       (1.2833, 36.8167)
22              UAE      (24.6333, 54.3667)
23              UAE      (25.0657, 55.1713)
24            Yemen      (15.3547, 39.8579)
25     Saudi Arabia      (18.1601, 41.1371)
26         Tanzania      (-6.8169, 39.2833)
27         Tanzania         (-5.0667, 39.1)
28         Tanzania        (-6.163, 39.197)
29         Tanzania       (-6.1639, 39.202)
30     South Africa        (-26.133, 28.05)
31       Mozambique     (-25.6259, 32.5546)
32       Madagascar          (-18.15, 49.4)
33       Madagascar       (-25.0167, 46.95)
34       Madagascar       (-23.35, 43.6667)
      id     name  latitude  longitude   range  bearing  course   speed  \
0   2004    Ghazi  20.44000    69.2300  204.60    300.7   127.5     5.4
1   2001   Rafale  19.58560    67.2376  138.00    293.7   149.7   735.0
2   2001   Rafale  19.55890    70.1600  127.90    290.3   166.9   385.0
3   2001   Rafale  19.44400    70.2316  123.00    287.9   121.3   615.0
4   2001   Rafale  19.37890    70.2477  113.28    286.6   129.5   443.3
5   2001   Rafale  19.63267    70.3389  101.50    284.1    57.4  1300.8
6   2002  Titanic  19.52460    71.4374   68.30    320.3   169.7    30.4
7   2002  Titanic  19.51940    71.4384   67.80    320.0   169.7    30.4
8   2002  Titanic  19.50950    71.4345   67.30    319.3   162.3    29.9
9   2002  Titanic  19.50460    71.4362   66.85    319.1   162.3    29.9
10  2003      Jin  17.44780    72.2010   75.90    187.1   331.3    21.2
11  2003      Jin  17.45140    72.1989   75.50    187.3   331.3    21.2
12  2003      Jin  17.45430    72.1977   75.30    187.4    48.8    23.0
13  2003      Jin  17.45060    72.2005   75.00    187.2    49.5    23.0
14  2003      Jin  17.45850    72.2000   74.80    187.0    80.5    29.8

    altitude  depth reported_by                                     comment  \
0          0      0     Utkarsh  Seems to be approaching territorial waters
1     120001      0       Arnab                           Erratic movements
2     120001      0       Arnab                           Erratic movements
3     120001      0       Arnab                           Erratic movements
4     120001      0       Arnab                           Erratic movements
5     120001      0       Arnab                           Erratic movements
6          0      0      Ravina                  Approaching Hazardous Area
7          0      0      Ravina                  Approaching Hazardous Area
8          0      0      Ravina                  Approaching Hazardous Area
9          0      0      Ravina                  Approaching Hazardous Area
10         0    200      Dhiraj                  Seems to be diving rapidly
11         0    210      Dhiraj                  Seems to be diving rapidly
12         0    210      Dhiraj                  Seems to be diving rapidly
13         0    210      Dhiraj                  Seems to be diving rapidly
14         0    210      Dhiraj                  Seems to be diving rapidly

   hostility    category nationality location_wrt_naval_borders  \
0    Hostile     Surface   Pakistani       Inside Indian Waters
1   Friendly         air      Indian       Inside Indian Waters
2   Friendly         air      Indian       Inside Indian Waters
3   Friendly         air      Indian       Inside Indian Waters
4   Friendly         air      Indian       Inside Indian Waters
5   Friendly         air      Indian       Inside Indian Waters
6    Neutral     surface          US       Inside Indian Waters
7    Neutral     surface          US       Inside Indian Waters
8    Neutral     surface          US       Inside Indian Waters
9    Neutral     surface          US       Inside Indian Waters
10   Hostile  subsurface     Chinese       Inside Indian Waters
11   Hostile  subsurface     Chinese       Inside Indian Waters
12   Hostile  subsurface     Chinese       Inside Indian Waters
13   Hostile  subsurface     Chinese       Inside Indian Waters
14   Hostile  subsurface     Chinese       Inside Indian Waters

          closest_point_of_mil_interest      time             location
0   jawaharlal nehru port (nhava sheva)  11:25:58       (20.44, 69.23)
1                            port qasim  12:02:47   (19.5856, 67.2376)
2   jawaharlal nehru port (nhava sheva)  12:03:47     (19.5589, 70.16)
3   jawaharlal nehru port (nhava sheva)  12:04:47    (19.444, 70.2316)
4   jawaharlal nehru port (nhava sheva)  12:05:47   (19.3789, 70.2477)
5   jawaharlal nehru port (nhava sheva)  12:06:47  (19.63267, 70.3389)
6   jawaharlal nehru port (nhava sheva)  11:13:18   (19.5246, 71.4374)
7   jawaharlal nehru port (nhava sheva)  11:14:18   (19.5194, 71.4384)
8   jawaharlal nehru port (nhava sheva)  11:16:18   (19.5095, 71.4345)
9   jawaharlal nehru port (nhava sheva)  11:17:18   (19.5046, 71.4362)
10                               mumbai  11:13:51    (17.4478, 72.201)
11                               mumbai  11:13:51   (17.4514, 72.1989)
12                               mumbai  11:14:51   (17.4543, 72.1977)
13                               mumbai  11:15:51   (17.4506, 72.2005)
14                               mumbai  11:16:51      (17.4585, 72.2)

In [11]:
df_data.to_csv("../datasets/data_processed.csv", index=False)

In [12]:
print(df_data.columns)

Index(['id', 'name', 'latitude', 'longitude', 'range', 'bearing', 'course',
       'speed', 'altitude', 'depth', 'reported_by', 'comment', 'hostility',
       'category', 'nationality', 'location_wrt_naval_borders',
       'closest_point_of_mil_interest', 'time', 'location'],
      dtype='object')